{{#each products}}
<div class="products">
            <div>Name: {{this.name}}</div>
            <div>Desc: {{this.desc}}</div>
            <div>Price: {{this.price}}</div>
            <div>Original Price: {{this.originalPrice}}</div>
            <div>Discount: {{this.desc}}</div>
            <img src="{{this.image}}">
</div>
{{/each}}